<main class="content">
  <form>
    <div class="form-group">
      <label for="login">Login:</label>
      <input type="text" name="login" id="login" placeholder="Digite seu login" required>
    </div>

    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="Digite seu email" required>
    </div>

    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
    </div>

    <div class="form-group">
      <label for="confirmar-senha">Confirmar senha:</label>
      <input type="password" name="senha" id="confirmar" placeholder="Confirme sua senha" required>
    </div>

    <button class="btn-voltar" id="btn-voltar" (click)="back()">Voltar</button>
    <button class="btn-cad" id="btn-cad" (click)="cadastrar()">Cadastrar</button>
  </form>
</main>